#container {
    width: 650px;
    height:600px;
    margin: 0px auto;
    background-color: aliceblue;

    border: 1px black;
}

#sourceLoan {

    float: left;
    width: 250px;
    height: 220px;
    margin-bottom: 10px;

    border: blue;

}

#infoLoan {

    float: right;
    width: 300px;
    height: 230px;
    margin-bottom: 10px;

    border: purple;
}

#tableHeader {

    clear:both;
    width: 600;
    height: 50;

    border: black;
}

#table {

    overflow: auto;
    width: 600px;
    height: 200px;
    
}

table { align:center; font-family: sans-serif; font-size:  13px;}
